:root {
    --back-color: rgb(0, 0, 24);
    --primary-color:  #95b3d1;
    --button-color:#044d39;
    --header-back: #1a1d24;
    --header-text: #eee;
    --cuadros-color: rgba(19, 35, 47, 0.9);
  }
  
  body {
    background-color: var(--back-color);
    color: var(--primary-color);
  }
  header {
    background-color: var(--header-back);
    color: var(--header-text);
  }
  
  .box img {
    border: 2px solid var(--primary-color);
  }